.header {
    background: #35155D;
    background-size: 100%;
}

.colourbg {
    background: #4477CE;
    background-size: 100%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}
p {
    font-family: 'Montserrat', sans-serif;
}
